body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff9f4;
}
.tooltip-wrapper {
  text-align: center;
}
.page-headers {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 10vh;
}
